 {% extends "layout.html" %}
{% block content %}
<div class="jumbotron">
  <h1 class="display-3">The Product</h1>
  <p class="display-3">Purchase this product for only $99.</p>
  <form action="/user/charge" method="POST">
    <article>
      <label>
        <span>Amount is $5.00</span>
      </label>
    </article>

    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="{{ key }}"
            data-description="A Flask Charge"
            data-amount="500"
            data-currency="usd"
            data-email="{{ email }}"
            data-locale="auto"></script>
  </form>
</div>
{% endblock %}